<p id="notice"><%= notice %></p>

<h1>Listing Googles</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Body</th>
      <th>Time</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @googles.each do |google| %>
      <tr>
        <td><%= google.title %></td>
        <td><%= google.body %></td>
        <td><%= google.time %></td>
        <td><%= link_to 'Show', google %></td>
        <td><%= link_to 'Edit', edit_google_path(google) %></td>
        <td><%= link_to 'Destroy', google, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Google', new_google_path %>
